<md-dialog aria-label="Adicionar Credito" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Adicionar Credito</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <!--  <span> Escolha os valores de credito a serem adicionados para os usuários selecionados
</span> -->
  <md-list>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <span>Voz:</span>
        <md-dialog-content>
          <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Valor</label>
              <md-select aria-label="Valor" ng-model="voicevalue">
                <md-option ng-repeat="value in voicevalues" value="{{value}}">
                  {{value}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Unidade</label>
              <md-select aria-label="Unidade" ng-model="voiceunit">
                <md-option ng-repeat="(unit,value) in voiceunities
 " value="{{value}}">
                  {{unit}}
                </md-option>
              </md-select>
            </md-input-container>
          </md-content>
        </md-dialog-content>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <span>Dados:</span>
        <md-dialog-content>
          <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Valor</label>
              <md-select aria-label="Valor" ng-model="datavalue">
                <md-option ng-repeat="value in datavalues" value="{{value}}">
                  {{value}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Unidade</label>
              <md-select aria-label="Unidade" ng-model="dataunit">
                <md-option ng-repeat="(unit,value) in dataunities
 " value="{{value}}">
                  {{unit}}
                </md-option>
              </md-select>
            </md-input-container>
          </md-content>
        </md-dialog-content>
      </div>
    </md-list-item>
  </md-list>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
      Cancelar
    </md-button>
    <md-button ng-click="save()">
      Salvar
    </md-button>
  </md-dialog-actions>
  </form>
</md-dialog>
