<section>
  <div class="page-header">
    <h1>{{vm.title}}</h1>
  </div>
  <div class="md-padding">
    <md-content layout-gt-sm="row" layout-padding>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Filtro</label>
        <input name="name" type="string" ng-model="vm.vfilter" aria-label="amount">
      </md-input-container>
    </md-content>
  </div>
  <div class="row">
    <md-table-container class="dissable-checkbox-cell dissable-checkbox-column">
      <table md-table md-row-select md-progress="vm.promise" ng-model="vm.selected" >
        <thead md-head md-order="mdorder">
          <th md-column md-order-by="_id "><span>Id</span></th>
          <th md-column md-order-by="name"><span>Nome</span></th>
          <th md-column><span>User Name</span></th>
          <th md-column md-order-by="level"><span>Tipo</span></th>
        </thead>
        <tbody md-body>
          <tr md-row md-select="item.username"  md-on-select="vm.edit" md-auto-select ng-model="vm.selected" ng-repeat="item in vm.filteredItems  | filter:vm.filter | orderBy: mdorder">
            <td md-cell >{{item._id}}</td>
            <td md-cell>{{item.name}}</td>
            <td md-cell>{{item.username}}</td>
            <td md-cell ng-if="item.level == 0">Administrador</td>
            <td md-cell ng-if="item.level == 1">Usuário</td>
            <td md-cell ng-if="item.level == 2">Colaborador</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</section>
