<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="form" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Senha Atual</label>
            <!-- I shouldn't have created the directive  password-verify, it is unsafe-->
            <!-- TODO: remove the directive password-verify and do it properly  -->
            <input password-verify ng-model-options="{ updateOn: 'blur' }" required name="current" type="password" ng-model="vm.current">
            <div ng-messages="form.current.$error">

              <div ng-message="wrongpassword">Senha incorreta.</div>
              <div ng-message="required">Campo obrigatório.</div>
            </div>
          </md-input-container>
        </div>
        <div class="form-group" show-errors>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Senha</label>
            <input required name="password1" type="password" ng-model="vm.password1">
            <div ng-messages="form.password1.$error">
              <div ng-message="required">Campo obrigatório.</div>
            </div>
          </md-input-container>
        </div>
        <div class="form-group" show-errors>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirmar Senha</label>
            <input required ui-validate="'$value == vm.password1'" ui-validate-watch="vm.password1" name="password2" type="password" ng-model="vm.password2">
            <div ng-messages="form.password2.$error" md-auto-hide="false" ng-if="form.password2.$touched" role="alert">
              <div ng-message="validator">Confirmação incompatível.</div>
              <div ng-message="required">Campo obrigatório.</div>
            </div>
          </md-input-container>
        </div>
        <md-dialog-actions class="text-center form-group">
          <md-button type="submit" class="md-raised md-primary" ng-disabled="!form.$valid" ng-click="vm.changeUserPassword();form.$setPristine();
          form.$setUntouched();">Salvar</md-button>
        </md-dialog-actions>
      </fieldset>
    </form>
  </div>
</section>
